.about{
  padding: 40px 0;
  // background-color: $thirthColor;
  text-align: center;
  color: $primaryColor;
  overflow-x: hidden;

  &-title{
    color: $secondaryColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
  &-text{
    font-size: 20px;
    margin: 10px;
  }
  

  &::before {
    content: '';
    background: url(../assets/poker-cards-02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 700px;
    right: 100px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    opacity: 0.3;
    position: absolute;
    z-index: -1;

    @media (min-width:780px) {
      left: 550px;
    }
  }
}