// COLORS
$primaryColor: rgb(200, 200, 200);
$secondaryColor: rgb(178, 162, 61);
$thirthColor: rgb(37, 37, 37);
$card-bg-color: $thirthColor;
$card-border-color: $secondaryColor;
$card-shadow-color: rgba(0, 0, 0, 0.3);
$card-title-color: $secondaryColor;
$card-price-color: $primaryColor;

@import "global";
@import "nav";
@import "modal";
@import "hero";
@import "games";
@import "slotMachine";
@import "roulette";
@import "blackjack";
@import "search&filter";
@import "cards";
@import "footer";